
<body>
<div class="app_title"><h1 span><%= title %></h1></span></div>
<div class = "content-box">
<div class="entryList">
<h2>ENTRY LIST</h2>
<!--LIST OF ENTRIE ON (LEFT SIDE!)-->
</div>

<div class="r-entry">
    <!--PLACE FORM/ "NEW ENTRY BUTTON" HERE-->
    <button class="new-entry-button">CREATE A NEW ENTRY</button>

</div>
</div>

<!-- <script>
    ${"r-entry .btn"}.click().innerHTML = '<form action ='/submit' method='POST'>
        <input type = 'text' name ='Title'
        placeholder='Entry Title'>
        <input type= 'text' name ='lName'
        placeholder='Write Here'>
            <input type='submit' value='OK'>
    </form >';
</script> -->
</body>
